body {
    margin: 0;
    background-color: black;
}

.login {
    position: relative;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    display: grid;
    justify-items: center;
    text-align: center;
    height: 550px;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(https://imgs.search.brave.com/vzTlNW86Nh73nheE9aSHAwHCxN3_dWrsnmmIXSFsaZY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvZmVhdHVy/ZWQvbW92aWUtOXB2/bWR0dno0Y2IweGwz/Ny5qcGc);
    filter: blur(3px); 
    z-index: 0; 
}

#submitButton {
    border: 0;
    background-color: grey;
    height: 2.5rem;
    border-radius: 5px;
    color: white;
    transition: all 0.5s ease;
}

#submitButton:hover {
    transform: scale(1.07);
    transition: all 0.5s ease;
    color: grey;
    background-color: white;
}

.login h1,
.login input {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    color: #ffffff; 
}

.login h1 {
    font-size: 3rem;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.login input {
    margin: 1rem 0;
    width: 15rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid rgb(255, 254, 254);
}

.login input::placeholder {
    font-size: 1.2rem;
    color: #ffffff;
}

.login p {
    color: white;
    z-index: 1;
    font-size: 1.5rem;
    margin: 0;
}

.lower {
    width: 40%;
    z-index: 1;
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    margin-top: -1.5rem;
}

.lower a {
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}

.lower a:hover {
    transform: translatey(-5px);
}
